
html, body, p , ul, i, a {
	font-family: 'Roboto', sans-serif;
	width:100%;
	text-decoration: none;
	list-style: none;
	color: black;

}

ul li a:hover {
	border-bottom: thin solid black;
}


.wrapper {
min-height: 100%;
position: relative;

}
/*------------------------------------*\
#header
\*------------------------------------*/

nav {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;

}

	nav ul {
		padding: 0px;
	}

		nav ul li {
			display: inline-block;
			position: relative;
		}

.logo {
	float: left;
	width: 20%;
	max-width: 200px;
}

	.lauren{
		display: block;
		width: 100%;
		border-radius: 300px;
	}

.site-index {
	transform: rotate(90deg);
	translate(-50%,0);
	display: block;
	bottom: 75%;
	height: 2.5rem;
	position: fixed;
	right: 0;
	width: 2.5rem;
	line-height: 2.5rem;
}

/*------------------------------------*\
#content
\*------------------------------------*/

.blog-heading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75% ;
	text-align: center;
}

	.blog-heading p {
		font-family: 'Times New Roman';
		font-style: italic;
		font-size: 42px;
	}

.empty {
	height: 400px;	
}

.container{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

	.container.blogContent{
		padding-left: 100px;
		padding-bottom: 20px;
	}



.container ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.container ul li {
	display: inline;
	margin: 0;
	padding: 0;
	text-align: center;
}


.blog-body {
	padding-left: 50px;
	padding-right: 50px;
	min-height: auto;
}



/*------------------------------------*\
#footer
\*------------------------------------*/
footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left:0;

}

	footer ul {
		margin: 10px;
		padding-top: 10px;
		text-align: center;

	}
	
		footer ul li {
			display: inline-block;
		}
