
html, body, p , ul, i, a {
	font-family: 'Roboto', sans-serif;
	width:100%;
	text-decoration: none;
	list-style: none;
	color: black;

}




nav {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;

}
nav ul {
padding: 0px;
}
nav ul li {

	display: inline-block;
	position: relative;
}

.logo {
	float: left;
	width: 20%;
	max-width: 200px;
}
.lauren{
	display: block;
	width: 100%;
	border-radius: 300px;

}


.siteIndex {
    transform: rotate(90deg);
    translate(-50%,0);
    display: block;
    bottom: 50%;
    height: 2.5rem;
        position: absolute;
    right: 0;
    width: 2.5rem;
    line-height: 2.5rem;
}
.blogHeading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75% ;
	text-align: center;
	

}

.blogHeading p {
	font-family: 'Times New Roman';
	font-style: italic;
	font-size: 42px;


	

}
.container{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	
}

.container.blogContent{
	
	padding-left: 100px;

}

ul li a:hover {
border-bottom: thin solid black;

}

.container ul {
	margin: 0;
	padding: 0;
	text-align: center;
	
}

.container ul li {
	display: inline;
	margin: 0;
	padding: 0;
	text-align: center;
}


.blogBody {
padding-left: 50px;

}

footer ul li {
		display: inline-block;
	}

footer ul {
	margin: 0;
	padding: 0;
	text-align: center;
	
}



footer {

	position: absolute;
	bottom: 20px;

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100% ;


	
}


